<!DOCTYPE html>
<html ng-app="registration">
<head>
    <meta charset="utf-8">
    <title>Registration</title>
    <link href="css/forms.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    <script src="bower_components/angular-prompt/dist/angular-prompt.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.js"></script>

    <script src="js/registration/registration.module.js"></script>
</head>
<body>
<registration-form></registration-form>
</body>
</html>